<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.xtext.org/contextml/ContextML"
			class = "org.xtext.contextml.contextML.ContextMLPackage"
			genModel = "model/generated/ContextML.genmodel" />
	</extension>
</plugin>
