/.AdaptUIDescriptionLabelProvider.java._trace
/.AdaptUIDescriptionLabelProvider.xtendbin
/.AdaptUILabelProvider.java._trace
/.AdaptUILabelProvider.xtendbin
/AdaptUIDescriptionLabelProvider.java
/AdaptUILabelProvider.java
